[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# package that will be installes in the CI/CD pipeline
spark-board = {editable = true, path = "."}
pytest = "==7.3.1"
mypy = "==1.3.0"

[dev-packages]
# packages that are installed in the local development environment
pudb = "==2022.1.*"
ipython = "*"
