.sidebar__preferences {
    padding: 6px;
    background-color: rgb(240, 240, 240);
}

.sidebar__collapsible .content {
    padding: 6px;
    background-color: rgb(222, 222, 222);
    font-size: 14px;
}
.sidebar__collapsible .header {
    background-color: rgb(200, 200, 200);
    padding: 6px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(220, 220, 220);
}
.sidebar__collapsible .header .title {
    font-weight: 400;
}
.sidebar__preferences label {
    display: block;
    padding-bottom: 4px;
}

.multiline {
  white-space: pre-wrap;
}

.columntooltip {
  font-family: monospace;
  overflow: auto;
  max-height: 50vh;
}