.transformation-node__container {
  min-width: 100px;
  border-radius: 10px;
  border: 2px solid black;
  text-align: center;
  padding: 10px;

  /* make the container expand so the size of the div that wraps nodes */
  width: 100%;
  box-sizing: border-box; /* make the node wrapper have 100% size but counting the borders */
}


/* this is the class used to stylify the selected node */
.transformation-node-selected {
  box-shadow: 0 0 5px 5px #48abe0;
  font-weight: "bold";
}
